<p>
  <b>Building Name:</b>
  <%=h @parallel_management.building_name %>
</p>

<p>
  <b>Floor Name:</b>
  <%=h @parallel_management.floor_name %>
</p>

<p>
  <b>Flat Name:</b>
  <%=h @parallel_management.flat_name %>
</p>
<p>
  <b>Room Name:</b>
  <%=h @parallel_management.room_name %>
</p>
<p>
  <b>Host Name:</b>
  <%=h @parallel_management.host_name %>
</p>
<p>
  <b>Host Address:</b>
  <%=h @parallel_management.host_address %>
</p>
<p>
  <b>Device Name:</b>
  <%=h @parallel_management.device_name %>
</p>
<p>
  <b>Device Address:</b>
  <%=h @parallel_management.device_address %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name1 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name2 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name3 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name4 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name5 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name6%>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name7 %>
</p>
<p>
  <b>Equipment Name:</b>
  <%=h @parallel_management.equipment_name8 %>
</p>
<%= link_to 'Edit', edit_parallel_management_path(@parallel_management) %> |
<%= link_to 'Back', parallel_management_path %>