<h1>Editing Floor</h1>

<% form_for(@floor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :floor_name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @floor %> |
<%= link_to 'Back', floors_path %>
