<h1>Listing Floors</h1>

<table>
  <tr>
    <th>Floor Id</th>
    <th>Floor Name</th>
  </tr>

<% @floors.each do |floor| %>
  <tr>
    <td><%=h floor.id %></td>
    <td><%=h floor.name %></td>
    <td><%= link_to 'Edit', edit_floor_path(floor) %></td>
    <td><%= link_to 'Destroy', floor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Floor', new_floor_path %>
