<h1>New Parallel Configuration</h1>

<% form_for(@parallel_configuration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Building_ID %><br />
    <%= f.text_field :building_id %>
  </p>
  <p>
    <%= f.label :floor_ID %><br />
    <%= f.text_field :floor_id %>
  </p>
 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', parallel_managements_path %>